In [2]:
import requests
from io import StringIO
import pandas as pd

# 利用pandas抓取html的表格
# 2330為台積電代碼
site = "https://query1.finance.yahoo.com/v7/finance/download/2330.TW?period1=0&period2=1549258857&interval=1d&events=history&crumb=hP2rOschxO0"
response = requests.get(site)
df = pd.read_csv(StringIO(response.text))
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-04,69.649002,69.649002,68.475197,69.649002,37.032295,2.006623e+11
1,2000-01-05,69.649002,71.214104,68.866302,71.214104,37.864456,4.024668e+11
2,2000-01-06,70.822899,71.214104,69.649002,69.649002,37.032295,1.975457e+11
3,2000-01-07,67.301300,68.475197,66.518600,67.692497,35.992020,2.352703e+11
4,2000-01-10,69.649002,70.431396,68.475197,70.040199,37.240295,2.761717e+11
...,...,...,...,...,...,...,...
4792,2019-01-24,222.500000,222.500000,220.500000,222.500000,208.465195,2.641792e+07
4793,2019-01-25,226.500000,227.000000,225.000000,226.000000,211.744415,4.669276e+07
4794,2019-01-28,229.500000,229.500000,228.000000,229.000000,214.555191,2.602626e+07
4795,2019-01-29,222.500000,225.000000,222.000000,222.500000,208.465195,4.112252e+07
4796,2019-01-30,220.500000,221.500000,220.000000,221.000000,207.059814,4.475594e+07

In [1]:
import time
from io import StringIO
import requests
import pandas as pd

# 先設定時間 要爬取到今日的股價資訊
def create_today_timestamp():
    today = time.strftime("%Y-%m-%d",time.gmtime())
    return int(time.mktime(time.strptime(today, "%Y-%m-%d")))
def create_timestamp_from_today(n):
    today = create_today_timestamp()
    return today + n*24*3600
tomorrow_timestamp = create_timestamp_from_today(1)

# 讀取台股名稱列表
df = pd.read_csv('tw_stock_final.csv')
df

     Ticker  Name  Start_date Sector
0      1101    台泥  1962-02-09   水泥工業
1      1102    亞泥  1962-06-08   水泥工業
2      1103    嘉泥  1969-11-14   水泥工業
3      1104    環泥  1971-02-01   水泥工業
4      1108    幸福  1990-06-06   水泥工業
..      ...   ...         ...    ...
939    9944    新麗  2002-08-26    其他業
940    9945   潤泰新  1992-04-30    其他業
941    9946  三發地產  2013-09-17  建材營造業
942    9955    佳龍  2008-01-21    其他業
943    9958   世紀鋼  2008-03-12   鋼鐵工業

[944 rows x 4 columns]

In [ ]:
# 抓取每支股票的價格 交易量 ...
ticker_list = df['Ticker']
name_list = df["Name"]

for ticker,name in zip(ticker_list,name_list):
    print(f'## Info: Download {ticker}{name}!')
    site = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}.TW?period1=0&period2="+str(tomorrow_timestamp)+"&interval=1d&events=history&crumb=hP2rOschxO0"
    try:
        response = requests.get(site)
        tmp_df = pd.read_csv(StringIO(response.text))
        tmp_df.to_csv(f'stock_price/{ticker}.csv',index=False)
        #tmp_df['Ticker'] = ticker
        #stock_df = pd.concat([stock_df,tmp_df],axis=0)
        
    except:
        print(f'## Warning: {ticker}'+name+' is failed!')

In [5]:
# 讀取ETF列表
df = pd.read_csv('ETF_list.csv')
df

     Ticker            Name  Start_date
0      0050          元大台灣50  2003-06-30
1      0051         元大中型100  2006-08-31
2      0052            富邦科技  2006-09-12
3      0053            元大電子  2007-07-16
4      0054          元大台商50  2007-07-16
..      ...             ...         ...
122  00865B        國泰US短期公債  2019-11-25
123   00866  新光SHILLER CAPE  2019-11-19
124   00875          國泰網路資安  2020-03-30
125   00876        元大未來關鍵科技  2020-07-07
126   00878         國泰永續高股息  2020-07-20

[127 rows x 3 columns]

In [6]:
# 抓取每支ETF的價格 交易量 ...
ticker_list = df['Ticker']
name_list = df["Name"]

for ticker,name in zip(ticker_list,name_list):
    print(f'## Info: Download {ticker}{name}!')
    site = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}.TW?period1=0&period2="+str(tomorrow_timestamp)+"&interval=1d&events=history&crumb=hP2rOschxO0"
    try:
        response = requests.get(site)
        tmp_df = pd.read_csv(StringIO(response.text))
        tmp_df.to_csv(f'stock_price/{ticker}.csv',index=False)
        #tmp_df['Ticker'] = ticker
        #stock_df = pd.concat([stock_df,tmp_df],axis=0)
        
    except:
        print(f'## Warning: {ticker}'+name+' is failed!')

## Info: Download 0050元大台灣50!
## Info: Download 0051元大中型100!
## Info: Download 0052富邦科技!
## Info: Download 0053元大電子!
## Info: Download 0054元大台商50!
## Info: Download 0055元大MSCI金融!
## Info: Download 0056元大高股息!
## Info: Download 0057富邦摩台!
## Info: Download 0061元大寶滬深!
## Info: Download 006203元大MSCI台灣!
## Info: Download 006204永豐臺灣加權!
## Info: Download 006205富邦上証!
## Info: Download 006206元大上證50!
## Info: Download 006207FH滬深!
## Info: Download 006208富邦台50!
## Info: Download 00625K富邦上証+R!
## Info: Download 00631L元大台灣50正2!
## Info: Download 00632R元大台灣50反1!
## Info: Download 00633L富邦上証正2!
## Info: Download 00634R富邦上証反1!
## Info: Download 00635U元大S&P黃金!
## Info: Download 00636國泰中國A50!
## Info: Download 00636K國泰中國A50+U!
## Info: Download 00637L元大滬深300正2!
## Info: Download 00638R元大滬深300反1!
## Info: Download 00639富邦深100!
## Info: Download 00640L富邦日本正2!
## Info: Download 00641R富邦日本反1!
## Info: Download 00642U元大S&P石油!
## Info: Download 00643群益深証中小!
## Info: Download 00643K群益深証中小+R!
## Info: Download 00645富邦日本!
## Info: Download 00646元大S&P500!
## Info: Download 00647L元大S&P500正2!
## Info: Download 00648R元大S&P500反1!
## Info: Download 00650LFH香港正2!
## Info: Download 00651RFH香港反1!
## Info: Download 00652富邦印度!
## Info: Download 00653L富邦印度正2!
## Info: Download 00654R富邦印度反1!
## Info: Download 00655L國泰中國A50正2!
## Info: Download 00656R國泰中國A50反1!
## Info: Download 00657國泰日經225!
## Info: Download 00657K國泰日經225+U!
## Info: Download 00660元大歐洲50!
## Info: Download 00661元大日經225!
## Info: Download 00662富邦NASDAQ!
## Info: Download 00663L國泰臺灣加權正2!
## Info: Download 00664R國泰臺灣加權反1!
## Info: Download 00665L富邦恒生國企正2!
## Info: Download 00666R富邦恒生國企反1!
## Info: Download 00668國泰美國道瓊!
## Info: Download 00668K國泰美國道瓊+U!
## Info: Download 00669R國泰美國道瓊反1!
## Info: Download 00670L富邦NASDAQ正2!
## Info: Download 00671R富邦NASDAQ反1!
## Info: Download 00672L元大S&P原油正2!
## Info: Download 00673R元大S&P原油反1!
## Info: Download 00674R元大S&P黃金反1!
## Info: Download 00675L富邦臺灣加權正2!
## Info: Download 00676R富邦臺灣加權反1!
## Info: Download 00677U富邦VIX!
## Info: Download 00678群益NBI生技!
## Info: Download 00680L元大美債20正2!
## Info: Download 00681R元大美債20反1!
## Info: Download 00682U元大美元指數!
## Info: Download 00683L元大美元指數正2!
## Info: Download 00684R元大美元指數反1!
## Info: Download 00685L群益臺灣加權正2!
## Info: Download 00686R群益臺灣加權反1!
## Info: Download 00688L國泰20年美債正2!
## Info: Download 00689R國泰20年美債反1!
## Info: Download 00690兆豐藍籌30!
## Info: Download 00691R兆豐藍籌30反一!
## Info: Download 00692富邦公司治理!
## Info: Download 00693U街口S&P黃豆!
## Info: Download 00700富邦恆生國企!
## Info: Download 00701國泰股利精選30!
## Info: Download 00702國泰標普低波高息!
## Info: Download 00703台新MSCI中國!
## Info: Download 00706L元大S&P日圓正2!
## Info: Download 00707R元大S&P日圓反1!
## Info: Download 00708L元大S&P黃金正2!
## Info: Download 00709富邦歐洲!
## Info: Download 00710BFH彭博高收益債!
## Info: Download 00711BFH彭博新興債!
## Info: Download 00712FH富時不動產!
## Info: Download 00713元大台灣高息低波!
## Info: Download 00714群益道瓊美國地產!
## Info: Download 00715L街口S&P布蘭特油正2!
## Info: Download 00717富邦美國特別股!
## Info: Download 00728第一金工業30!
## Info: Download 00730富邦臺灣優質高息!
## Info: Download 00731FH富時高息低波!
## Info: Download 00732國泰RMB短期報酬!
## Info: Download 00733富邦臺灣中小!
## Info: Download 00735國泰臺韓科技!
## Info: Download 00736國泰新興市場!
## Info: Download 00737國泰AI+ROBO!
## Info: Download 00738U元大道瓊白銀!
## Info: Download 00739元大MSCI A股!
## Info: Download 00742新光內需收益!
## Info: Download 00743國泰中國A150!
## Info: Download 00752中信中國50!
## Info: Download 00753L中信中國50正2!
## Info: Download 00757統一FANG+!
## Info: Download 00762元大全球AI!
## Info: Download 00763U街口道瓊銅!
## Info: Download 00766L台新MSCI中國正2!
## Info: Download 00770國泰北美科技!
## Info: Download 00771元大US高息特別股!
## Info: Download 00774B新光中國政金綠債!
## Info: Download 00774C新光中政金綠債+R!
## Info: Download 00775B新光投等債15+!
## Info: Download 00776新光ICE美國權值!
## Info: Download 00783富邦中証500!
## Info: Download 008201BP上證50!
## Info: Download 00830國泰費城半導體!
## Info: Download 00850元大臺灣ESG永續!
## Info: Download 00851台新全球AI!
## Info: Download 00852L國泰美國道瓊正2!
## Info: Download 00861元大全球未來通訊!
## Info: Download 00865B國泰US短期公債!
## Info: Download 00866新光SHILLER CAPE!
## Info: Download 00875國泰網路資安!
## Info: Download 00876元大未來關鍵科技!
## Info: Download 00878國泰永續高股息!